body {
	background-color: #f2f2f2;
}

header {
	width: 100%;
	background-color: #fff;
	height: 64px;
}

header .header {
	width: 1200px;
	height: 64px;
	margin: 0 auto;
}

.topnav {
	width: 100%;
	height: 40px;
	background-color: #ff7a57;
}

.topnav .center {
	width: 1200px;
	margin: 0 auto;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
}

section {
	width: 1200px;
	margin: 0 auto;
}

section .main {
	width: 1166px;
	height: 620px;
	margin: 40px auto;
}

section .mainleft {
	width: 380px;
	height: 620px;
	float: left;
}

section .mainright {
	width: 770px;
	height: 620px;
	float: right;
}

section .mainleft .lTop {
	width: 100%;
	height: 314px;
	padding-top: 16px;
	background: #ff7a57 url(../imgs/versions/bacImg.png);
	margin-bottom: 16px;
	position: relative;
}

.mainleft .course {
	width: 350px;
	height: 36px;
	background-color: #fff;
	color: #333;
	font-size: 16px;
	line-height: 36px;
	position: relative;
	border-radius: 18px;
	margin: 0 auto 16px;
	cursor: pointer;
}

.mainleft .course p {
	width: 295px;
	margin-left: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mainleft .course i,
.mainleft .section .sectionBox i,
.mainleft .test i {
	width: 16px;
	height: 14px;
	background: url(../imgs/versions/down.png) no-repeat center;
	position: absolute;
	right: 15px;
	top: 11px;
}


/*--选择教材--*/

.selectingTextbooks {
	width: 1166px;
	height: 600px;
	background-color: #fff;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 50px;
}

.selectingTextbooks ul.nav {
	width: 1086px;
	height: 40px;
	margin: 40px auto 0;
}

.selectingTextbooks ul.nav li {
	width: 100px;
	float: left;
	height: 40px;
	background-color: #eee;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 16px;
	cursor: pointer;
}

.selectingTextbooks ul.nav li.checked {
	background-color: #ff7b57;
	color: #fff;
}

.selectingTextbooks ul.mainBot {
	width: 1086px;
	height: 480px;
	margin: 0 auto;
}

.selectingTextbooks ul li.myCourses {
	display: block;
	width: 100%;
	height: 100%;
}

.selectingTextbooks ul li.myCourses table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

li.myCourses thead tr {
	font-size: 16px;
	color: #fff;
	height: 40px;
	text-align: center;
	background-color: #ff7b57;
	line-height: 40px;
	font-weight: normal;
}

li.myCourses thead tr td:nth-child(1) {
	width: 546px;
}

li.myCourses thead tr td:nth-child(2) {
	width: 220px;
}

li.myCourses thead tr td:nth-child(3) {
	width: 160px;
}

li.myCourses thead tr td:nth-child(4) {
	width: 160px;
}
li.myCourses tbody{
	display: block;
	overflow-y: scroll;
	max-height: 440px;
}
li.myCourses tbody tr {
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 39px;
}

li.myCourses tbody tr td:nth-child(1) {
	width: 546px;
	text-align: left;
	padding-left: 20px;
}
li.myCourses tbody tr td:nth-child(2) {
	width: 220px;
}

li.myCourses tbody tr td:nth-child(3) {
	width: 160px;
	position: relative;
}

li.myCourses tbody tr td:nth-child(4) {
	width: 160px;
	color: #999;
}

li.myCourses tbody tr td:nth-child(4):hover {
	color: #ff7b57;
	cursor: pointer;
}

li.myCourses tbody tr a {
	color: #ff7b57;
}

li.myCourses tbody #studyRate {
	width: 410px;
	height: 280px;
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	position: absolute;
	background-color: #fff;
	z-index: 2;
	left: -78%;
	top: 40px;
}

li.myCourses tbody #studyRate tr {
	font-size: 14px;
	color: #333;
	line-height: 40px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

li.myCourses tbody #studyRate tr:nth-child(1) {
	background-color: #333;
	color: #fff;
	font-size: 16px;
}

li.myCourses tbody #studyRate tr td {
	background-color: #fff;
}

li.myCourses tbody #studyRate tr .rate {
	display: inline-block;
	width: 130px;
	height: 5px;
	background-color: #ccc;
	position: relative;
	top: -3px;
	margin-right: 5px;
}

li.myCourses tbody #studyRate tr .rate .thisrate {
	width: 49%;
	height: 100%;
	background-color: #ff7b57;
}

.title1 {
	width: 100px;
}

.title2 {
	width: 210px;
}

.title3 {
	width: 100px;
	position: relative;
}
.title3 span{
	 font-family: consolas;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 8px;
	line-height: 14px;
	background-color: #ccc;
	color: #000;
	cursor: pointer;
}

.selectingTextbooks ul li.allCourses {
	display: none;
	width: 100%;
	height: 100%;
}

li.allCourses .navTitle {
	width: 100%;
	height: 40px;
}

li.allCourses .navTitle li {
	height: 40px;
	line-height: 40px;
	float: left;
	color: #fff;
	text-align: center;
	background-color: #ff7b57;
	font-size: 16px;
}

li.allCourses .navTitle li:nth-child(1) {
	width: 260px;
}

li.allCourses .navTitle li:nth-child(2) {
	width: 405px;
}

li.allCourses .navTitle li:nth-child(3) {
	width: 419px;
}

li.allCourses .main {
	width: 100%;
	height: 440px;
	overflow: hidden;
	margin: 0 auto;
}

li.allCourses .main ul {
	float: left;
	overflow: auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

li.allCourses .main ul:nth-child(2) {
	margin-left: -1px;
}

li.allCourses .main ul:nth-child(3) {
	margin-left: -1px;
}

li.allCourses .main ul li {
	border-bottom: 1px solid #ccc;
	height: 39px;
	text-align: left;
	line-height: 39px;
	color: #333;
	cursor: pointer;
}

li.allCourses .main ul li:hover {
	background-color: #eee;
}

li.allCourses .main ul li:active {
	background-color: #ff7b57;
	color: #fff;
}

li.allCourses .main ul:nth-child(1) {
	width: 260px;
	max-height: 440px;
	overflow: auto;
}

li.allCourses .main ul:nth-child(2) {
	width: 404px;
	max-height: 440px;
	overflow: auto;
}

li.allCourses .main ul:nth-child(3) {
	width: 416px;
	max-height: 440px;
	overflow: auto;
}


/*--选择教材结束--*/

.mainleft .section {
	font-size: 16px;
	line-height: 36px;
	color: #fff;
	margin-left: 15px;
	margin-bottom: 16px;
	position: relative;
}

.mainleft .section .sectionBox {
	margin-right: 30px;
	/*float: left;*/
	width: 124px;
	height: 36px;
	background-color: #fff;
	line-height: 36px;
	border-radius: 18px;
	color: #333;
	padding-left: 20px;
	position: relative;
	cursor: pointer;
}


/*------------选择章节开始--------------*/

.chapterList {
	width: 1106px;
	height: 455px;
	background-color: #fff;
	padding: 60px 0 0 60px;
	position: absolute;
	left: -15px;
	top: 36px;
	z-index: 2;
	overflow: auto;
}

.chapterList li {
	width: 215px;
	height: 85px;
	border: 1px solid #999;
	border-radius: 43px;
	float: left;
	margin: 0 46px 46px 0;
	font-size: 30px;
	text-align: center;
	color: #666;
	line-height: 85px;
	cursor: pointer;
}

.chapterList li:hover {
	color: #ff7b57;
	border-color: #ff7b57;
}


/*------------选择章节结束--------------*/

.mainleft .test {
	width: 124px;
	height: 36px;
	background-color: #fff;
	line-height: 36px;
	border-radius: 18px;
	color: #333;
	padding-left: 20px;
	position: relative;
	left: 15px;
	margin-bottom: 25px;
	cursor: pointer;
}
.mainleft .test a{
	color: #333;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 35px;
}
/*-----------------测试开始-------------------*/

.testList {
	width: 144px;
	position: absolute;
	left: 0;
	top: 36px;
}

.testList li {
	background-color: #fff;
	border-top: 1px solid #999;
	width: 144px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 28px;
	line-height: 35px;
	font-size: 16px;
	color: #333;
}

/*-----------------测试结束-------------------*/

.mainleft .wordBook,
.mainleft .memory,
.mainleft .testLog {
	width: auto;
	height: 30px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-left: 30px;
	border-bottom: 1px solid transparent;
}

.mainleft .wordBook:hover,
.mainleft .memory:hover,
.mainleft .testLog:hover {
	border-bottom: 1px solid #fff;
}

section .mainleft .lBot {
	width: 100%;
	height: 212px;
	background: #fff;
	padding-top: 62px;
}

.mainleft .efficiency {
	width: 100%;
	text-align: center;
	color: #333;
	font-size: 18px;
}

.mainleft .percentage {
	font-size: 36px;
	font-weight: bold;
	color: #ff7b57;
	text-align: center;
	width: 100%;
	margin: 24px 0 37px;
}

.mainleft .onlineTime,
.mainleft .validTime {
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #333333;
	margin-bottom: 16px;
}

section .mainright {
	width: 770px;
	height: 620px;
	float: right;
}

section .mainright .study {
	width: 620px;
	height: 100%;
	float: left;
}

.mainright .study .start {
	width: 100%;
	height: 357px;
	background-color: #fff;
	margin-bottom: 1px;
	padding-top: 45px;
}

.mainright .study .book {
	width: 218px;
	height: 294px;
	background-color: #ecf2f2;
	margin: 0 auto;
	padding-top: 14px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.mainright .study .book:hover .cen {
	border: 1px solid #333;
}

.mainright .study .book:hover .cen i {
	display: block;
}

.mainright .book .cen {
	width: 189px;
	height: 218px;
	border: 1px solid transparent;
	margin: 0px auto;
	text-align: center;
	padding-top: 60px;
}

.mainright .book .cen .pic {
	width: 86px;
	height: 86px;
	border-radius: 50%;
	margin: 0 auto 30px;
}

.mainright .book .cen .pic img {
	width: 100%;
	height: 100%;
}

.mainright .cen h3 {
	font-size: 22px;
	font-weight: normal;
	color: #ff7b57;
	line-height: 30px;
	height: 30px;
}

.mainright .cen span {
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #666;
	display: block;
	line-height: 19px;
	height: 19px;
}

.mainright .cen i {
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #ff1919;
	display: none;
	line-height: 33px;
	height: 33px;
}

.study .bot .progress {
	width: 344px;
	height: 167px;
	margin-right: 1px;
	float: left;
	background-color: #fff;
	padding-top: 50px;
	padding-left: 26px;
	font-size: 16px;
	color: #333;
}

.study .progress>div {
	margin-bottom: 16px;
}

.study .progress>div>div {
	display: inline-block;
	width: 164px;
	height: 10px;
	background-color: #ccc;
	overflow: hidden;
}

.study .progress .unitpercent .now {
	height: 100%;
	width: 25%;
	background-color: #ff7b57;
}

.study .progress .coursepercent .now {
	height: 100%;
	width: 49%;
	background-color: #ff7b57;
}

.study .progress>div span {
	display: inline-block;
	font-size: 12px;
	color: #333;
}
.study .progress .speed span{
	font-size: 14px;
}

.study .progress .onceAgain {
	cursor: pointer;
}

.study .progress .onceAgain:hover {
	color: #ff7b57;
}

.study .bot .review {
	width: 249px;
	height: 217px;
	float: left;
	background-color: #fff;
	text-align: center;
	color: #333;
}

.study .review .courseStudyNum {
	width: 100%;
	font-size: 18px;
	padding-top: 50px;
}

.study .review .courseStudyNum p {
	margin: 22px 0 16px 0;
	width: 100%;
	font-size: 36px;
	font-weight: bold;
}

.study .review .bot a {
	color: #ff7b57;
	line-height: 30px;
	display: inline-block;
	height: 30px;
	font-size: 14px;
	border-bottom: 1px solid transparent;
}

.study .review .bot a:hover {
	border-bottom: 1px solid #ff7b57;
}

section .mainright .navs {
	width: 150px;
	height: 576px;
	float: right;
	background-color: #ff7a57;
	padding-top: 44px;
	text-align: center;
	position: relative;
}

section .navs .category {
	font-size: 72px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 90px;
}

section .navs .category span {
	display: block;
	font-size: 12px;
	font-weight: normal;
	/*margin-top: 12px;*/
}

section .navs .title {
	font-size: 18px;
	font-family: "微软雅黑";
	color: #fff;
}

section .navs i {
	width: 50px;
	height: 50px;
	background: url(../imgs/versions/back.png) no-repeat center;
	background-size: 33px 33px;
	position: absolute;
	bottom: 42px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}