body{
	background: url(../imgs/bacImg1.png);
}
header{
	width: 100%;
	height: 54px;
	background-color: #fff;
	box-shadow: 0 25px 50px 0 rgba(0,0,0,.1);
}
header .con{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
header .con .title{
	width: 250px;
	height: 100%;
	text-align: center;
	font-size: 18px;
	color: #333;
	margin: 0 auto;
	line-height: 54px;
}
header .con .versions{
	font-size: 14px;
	color: #333;
	line-height: 54px;
	height: 54px;
	width: 400px;
	position: absolute;
	left: 0;top: 0;
}
header .con .back{
	width: 54px;
	height: 54px;
	display: block;
	position: absolute;
	right: 35px;top: 0;
	background: url(../imgs/no.png) no-repeat center;
}
.section{
	width: 1100px;
	margin: 0 auto;
	min-height: -webkit-calc(100% - 54px);
	box-sizing: border-box;
	padding-top: 42px;
	background-color: #fff;
}
.section table{
	border-left: 1px solid #eee;
	border-spacing:0;border-collapse:collapse;
	width: 1059px;
	margin: 0 auto 40px;
}
.section th{
	background-color: #ff7b57;
	border-right: 1px solid #eee;
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	height: 48px;
}
.section tr{
	height: 42px;
}
.section tr:hover{
	background-color: #ddd;
}
.section td{
	border:1px solid #eee;
	font-size:14px;
	line-height:24px;
	text-align: center;
	color: #333;
}

.pagination{
	font-family: consolas;
	font-size: 14px;
	color: #333;
	line-height: 83px;
	text-align: center;
}
.pagination div{
	display: inline-block;
	padding: 0 15px;
	cursor: pointer;
}
.pagination div:hover{
	color: #ff7b57;
}
.pagination .currentPage{
	cursor: default;
}
.pagination .currentPage:hover{
	color: #333;
}

















