header{
	width: 100%;
	background-color: #fff;
}
header .header{
	width: 1200px;
	margin: 0 auto;
}
body{
	background-color: #f2f2f2;
}
section{
	position: relative;
	width: 100%;
	
}
section:before{
	content: '';
	width: 100%;
	height: 302px;
	background: #ff7a57 url(../imgs/versions/bacImg.png);
	display: block;
	position: absolute;
	left: 0;top: 0;
	z-index: 0;
}
section .main{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.main .topnav{
	font-size: ;
}
.topnav{
	height: 40px;
	width: 1200px;
	margin: 0 auto;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
}
.main .me{
	box-sizing: border-box;
	width: 100%;
	height: 222px;
	padding-top: 35px;
	position: relative;
}
.me .pic{
	width: 82px;height: 82px;
	border-radius: 41px;
	margin: 0 auto;
	cursor: pointer;
}
.me .pic img{
	width: 100%;height: 100%;
}
.me .yourName{
	width: 186px;
	height: 34px;
	background-color: #fff;
	border-radius: 17px;
	margin: 10px auto;
	position: relative;
}
.me .yourName input{
	margin-left: 17px;
	height: 34px;
	line-height: 34px;
	font-size: 20px;
	color: #333;
	width: 150px;
	text-align: center;
	outline: medium;
}
.me .yourName span{
	width: 18px;height: 18px;
	background:#fff url(../imgs/no.png) no-repeat center;
	background-size: 18px 18px;
	display: block;
	position: absolute;
	right: 7px;
	top: 8px;
	cursor: pointer;
}
.me .username{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.main .con{
	width: 969px;
	height: 380px;
	margin: 0 auto;
	background-color: transparent;
}
.con .left{
	width: 283px;
	height: 100%;
	float: left;
	position: relative;
}
.con .message{
	width: 100%;
	height: 313px;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 33px;
}
.con .message>div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #333;
}
.con .message span{
	display: inline-block;
	width: 144px;
	height: 100%;
	text-align: right;
}
.con .changePassword{
	width: 100%;
	height: 40px;
	background-color: #fff;
	position: absolute;
	bottom: 0;left: 0;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}
.con .changePassword:hover{
	box-sizing: border-box;
	line-height: 38px;
	border: 1px solid #333;
	/*background-color: #eee;*/
}
.changePasswordDialog{
	width: 553px;
	height: 350px;
	position: absolute;
	top: calc(50% - 175px);
	left: 50%;
	z-index: 1000;
	border: 1px solid #ccc;
	background-color: #fff;
}
.changePasswordDialog ul{
	width: 500px;
	margin: 10px auto;
}

.changePasswordDialog ul li{
	height: 32px;
	margin-top: 30px;
}
.changePasswordDialog ul li .password{
	line-height: 32px;
	color: #333;
	font-size: 14px;
	width: 90px;
	display: inline-block;
	float: left;

}
.changePasswordDialog ul li .passwordInput{
	float: left;
	border-radius: 17px;
	width: 320px;
	line-height: 32px;
	color: #333;
	border: 1px solid #ccc;
	font-size: 14px;
	padding-left: 10px;
}
.tip{
	float:left;
	font-size: 12px;
	color: #999;
	margin-left: 90px;
	margin-top: 6px;
	color: #e92322;

}
.submit{
	width: 184px;
	height: 34px;
	background-color: #ff7b57;
	text-align: center;
	font-size: 16px;
	color: #fff;
	line-height: 34px;
	margin-left: 130px;
	margin-top: 52px;
	border-radius: 17px;
	cursor: pointer;
}
.con .right{
	width: 661px;
	height: 100%;
	float: right;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 40px;
	font-size: 16px;
	color: #333;
}
.con .right li{
	width: 100%;
	height: 32px;
	margin-bottom: 18px;
}
.con .right li>span{
	width: 130px;
	height: 32px;
	display: inline-block;
	text-align: right;
	float: left;
	line-height: 32px;
}
.right .genderBox{
	float: left;
	display: inline-block;
	width: 200px;
	height: 32px;
	border: none;
}
.right .genderBox div{
	float: left;
	width: 62px;
	height: 32px;
	border-radius: 16px;
	/*background-color: #57b3ff;*/
	background-color: #f2f2f2;
	color: #333;
	text-align: center;
	line-height: 32px;
	margin-right: 10px;
	cursor: pointer;
}
.right .genderBox div.checked{
	background-color: #57b3ff;
	color: #fff;
}
.right li>div{
	float: left;
	width: 192px;
	height: 32px;
	border: 1px solid #333;
	border-radius: 16px;
	background-color: #fff;
	position: relative;
}
.right .site{
	width: 500px;
}
.right li>div input{
	width: 160px;
	height: 32px;
	line-height: 32px;
	margin-left: 15px;
	outline: medium;
}
.right .site input{
	width: 465px;
}

.right li div>span{
	width: 18px;height: 18px;
	background:#fff url(../imgs/no.png) no-repeat center;
	background-size: 18px 18px;
	display: block;
	position: absolute;
	right: 7px;
	top: 7px;
	cursor: pointer;
}

.saveBtn{
	width: 184px;
	height: 34px;
	background-color: #ff7b57;
	text-align: center;
	font-size: 16px;
	color: #fff;
	line-height: 34px;
	margin-left: 130px;
	border-radius: 17px;
	cursor: pointer;
}
.saveBtn:hover{
	box-shadow: inset 0 15px 50px 0 rgba(255,255,255,.5); 
}


.me .headPortrait{
	width: 330px;
	height: 330px;
	position: absolute;
	right: 220px;
	top: 40px;
	background-color: #fff;
	z-index: 3;
}
.me .headPortrait li{
	width: 110px;
	height: 110px;
	float: left;
	box-sizing: border-box;
	padding-top: 14px;
}
.me .headPortrait li img{
	display: block;
	width: 82px;
	height: 82px;
	border-radius: 41px;
	cursor: pointer;
	margin: 0 auto;
	transition: all 0.2s;
}
.me .headPortrait li img:hover{
	transform: scale(1.1);
}
.warning{
	position: absolute;
	width: 200px;
	height: 20px;
	padding: 10px;
	line-height:20px;
	text-align: center;
	background-color: rgba(0,0,0,.4);
    border-radius: 4px;
	color:#fff;
	z-index: 1001;
    top: 48%;
    left: 45%;
    display: none;
}
.close{
	position: absolute;
    top: 0;
    right: 4px;
    color:#999;
    cursor: pointer;
    padding: 6px;
}
.close:hover{
	color:#333;
}

.tipText{
	float: left;
    width: 200px;
    margin-left: 203px;
    margin-top: -26px;
    color: #999;
    font-size: 14px;
}





