body{
	background-image: url(../imgs/bacImg1.png);
}
section{
	width: 1040px;height: 600px;
	margin: 0 auto 0;
	background: url(../imgs/bacImg2.png) no-repeat;
	padding-top: 37px;
	position: absolute;
	left: 50%;top: 50%;
	transform: translate(-50% , -50%);
}
.main{
	width: 940px;height: 500px;
	margin: 0 auto;
	position: relative;
}
.main .titleBox{
	text-align: center;
	position: relative;
	width: 100%;height: 54px;
	border-bottom: 1px solid transparent;
}
.titleBox .versions{
	width: 320px;
	height: 54px;
	position: absolute;
	font-size: 14px;
	line-height: 54px;
	left: 20px;top: 0;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.titleBox .title{
	display: inline-block;
	font-size: 18px;
	line-height: 54px;
	height: 54px;
	color: #333;
}
.titleBox .exit{
	width: 22px;
	height: 22px;
	background: url(../imgs/no.png) no-repeat center;
	position: absolute;
	right: 20px;
	top: 16px;
}
.word{
	width: 100%;height: 70px;
	line-height: 70px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	padding-left: 237px;
}
.word .player{
	width: 67px;height: 69px;
	font-size: 12px;
	color: #666;
	background: url(../imgs/soundY.png) no-repeat right center;
}

.centent{
	width: 100%;height: 189px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 237px;
}
.centent label{
	display: block;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #333;
	background-color: #fff;
}
.centent label:hover{
	background-color: #eee;
}
.centent label[checked]{
	color: #ff7b57;	
}
.centent label input{
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
}




.btns{
	width: 466px;
	height: 50px;
	position: relative;
	left: 50%;
	top: 43px;
	transform: translateX(-50%);
	line-height: 50px;
}
.btns button{
	width: 182px;
	height: 50px;
	border-radius: 25px;
	background-color: #ff7b57;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	position: absolute;
	top: 0;
	cursor: pointer;
}
.btns button:hover{
	box-shadow: inset 0 0 15px 0px #fff;
}
.btns .yes{
	left: 0;
	background-color: #57b3ff;
}
.btns .yes i{
	width: 24px;
	height: 23px;
	display: inline-block;
	background: url(../imgs/whiteyes.png) no-repeat center;
	position: relative;
	top: 6px;
}
.btns .no{
	right: 0;
}
.btns .no i{
	width: 24px;
	height: 23px;
	display: inline-block;
	background: url('../imgs/whiteno(2).png') no-repeat center;;
	position: relative;
	top: 6px;
}
.otherInformation{
	width: 100%;
	height: 53px;
	position: absolute;
	bottom: 0;left: 0;
	line-height: 54px;
	font-size: 16px;
	color: #333;
}
.otherInformation .studyTime{
	position: absolute;
	left: 20px;top: 0;
}
.otherInformation .thisStudy{
	position: absolute;
	right: 20px;top: 0;
}


















