body{
	background-image: url(../imgs/bacImg1.png);
}
section{
	width: 1040px;height: 600px;
	margin: 0 auto 0;
	background: url(../imgs/bacImg2.png) no-repeat;
	padding-top: 37px;
	position: absolute;
	left: 50%;top: 50%;
	transform: translate(-50% , -50%);
}
.main{
	width: 940px;height: 500px;
	margin: 0 auto;
	position: relative;
}
.main .titleBox{
	text-align: center;
	position: relative;
	width: 100%;height: 54px;
	border-bottom: 1px solid transparent;
}
.titleBox .versions{
	width: 320px;
	height: 54px;
	position: absolute;
	font-size: 14px;
	line-height: 54px;
	left: 20px;top: 0;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.titleBox .title{
	display: inline-block;
	font-size: 18px;
	line-height: 54px;
	height: 54px;
	color: #333;
}
.titleBox .exit{
	width: 22px;
	height: 22px;
	background: url(../imgs/no.png) no-repeat center;
	position: absolute;
	right: 20px;
	top: 16px;
}
.main .sentence{
	box-sizing: border-box;
	padding-top: 28px;
	width: 800px;height: 301px;
	margin: 0 auto;
}
.sentence .thisSentence{
	width: 800px;height: 62px;
	line-height: 30px;
	font-size: 18px;
	color: #333;
	box-sizing: border-box;
	padding-left: 0px;
	position: relative;
	padding-right: 92px;
}
.sentence .thisSentence .listening{
	position: absolute;right: 0;top: 0;
	width: 79px;height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
	background: url(../imgs/soundY.png) no-repeat right center;
	transition: all 0.1s;
}
/*.sentence .thisSentence .listening:hover{
	transform: translateX(-1px);
}*/
.sentence .answer{
	box-sizing: border-box;
	width: 800px;height: 62px;
	line-height: 32px;
	padding-right: 92px;
	margin-bottom: 12px;
	position: relative;
}
.sentence .answerArr{
	position: absolute;
	left: 0px;top: 0;
	height: 32px;
}
/*--正确--*/
.sentence .answerArr.correct{
	color: #57b3ff;
}
.sentence .answerArr.correct:before{
	content: '';
	width: 23px;height: 23px;
	display: block;
	background: url(../imgs/hintYes.png) no-repeat center;
	position: absolute;
	right: -23px;top: 5px;
}
/*--错误--*/
.sentence .answerArr.error{
	color: #ff1919;
}
.sentence .answerArr.error:before{
	content: '';
	width: 23px;height: 23px;
	display: block;
	background: url(../imgs/hintNo.png) no-repeat center;
	position: absolute;
	right: -23px;top: 5px;
}


.sentence .answerArr span{
	display: inline-block;
	width: 40px;
	height: 31px;
	border-bottom: 1px solid #333;
	margin-right: 18px;
}
.sentence .answerArr span.ans_word{
	border-bottom: none;
	font-size: 16px;
	line-height: 32px;
	color: #333;
	text-indent: 5px;
	width: auto;
	margin-right: 0;
	cursor: pointer;
}
.sentence .answerArr span.punctuation{
	border: none;
}
.sentence .clear,.sentence .reset{
	font-size: 12px;
	color: #666;
	line-height: 32px;
	width: 65px;height: 32px;
	position: absolute;
	right: 0;top: 0;
	transition: all 0.1s;
	cursor: pointer;
}
/*.sentence .clear:hover,.sentence .reset:hover{
	transform: translateX(-5px);
}*/
.sentence .clear{
	background: url(../imgs/resetY.png) no-repeat right center;
}
.sentence .reset{
	background: url(../imgs/resetN.png) no-repeat right center;
}
.sentence .reset.err{
	background: url(../imgs/resetY.png) no-repeat right center;
}
.sentence .progressBar{
	width: 100%;height: 12px;
	background-color: #eee;
	margin-bottom: 12px;
}
.sentence .progressBar div{
	width: 0%;height: 100%;
	background-color: #ff7b57;
}
.sentence .items{
	font-size: 16px;
	color: #333;
	line-height: 30px;
	width: 100%;
}
.sentence .items li{
	box-sizing: border-box;
	padding: 0 20px;
	height: 30px;
	border-radius: 15px;
	float: left;
	cursor: pointer;
	background-color: #fff;
	transition: all 0.1s;
}
.sentence .items li:hover{
	background-color: #56b4fe;
	color: #fff;
}
.sentence .items li.actived{
	background-color: transparent;
	color: transparent;
	cursor: default;
}
.sentence .interpret{
	font-size: 18px;
	color: #333;
	line-height: 30px;
	width: 100%;
}



.btns{
	width: 100%;height: 94px;
	position: relative;
}
.btns .enter{
	line-height: 50px;
	width: 466px;
	height: 50px;
	border-radius: 25px;
	background-color: #ff7b57;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0px;left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	font-size: 18px;
	outline: medium;
}
.btns .enter.actived{
	background-color: #999;
	cursor: auto;
}
.btns .enter i{
	width: 27px;height: 22px;
	display: inline-block;
	background: url(../imgs/next.png) no-repeat center;
	position: relative;
	top: 6px;
}
.btns .enter:hover{
	box-shadow: inset 0 0 20px 0 #fff;
}
.btns .enter.actived:hover{
	box-shadow: none;
}

.otherInformation{
	width: 100%;
	height: 53px;
	position: absolute;
	bottom: 0;left: 0;
	line-height: 54px;
	font-size: 16px;
	color: #333;
}
.otherInformation .studyTime{
	position: absolute;
	left: 20px;top: 0;
}
.otherInformation .errorRate{
	position: absolute;
	left: 240px;top: 0;
}
.otherInformation .thisStudy{
	position: absolute;
	right: 20px;top: 0;
}










