*{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
html,
body {
	height: 100%;
	width: 100%;
	font-family: "微软雅黑";
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}
i{
	font-style: normal;
}
img {
	border: none;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}

button,input{
	outline: medium;
}

.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}

.displayNone{
	display: none;
}

header,
section,
footer {
	position: relative;
}

header {
	width: 1200px;
	height: 64px;
	margin: 0 auto;
}
header .logo{
	width: 330px;
	height: 60px;
	float: left;
}
header .logo img{
	width: 100%;
	height: 100%;
}
header a{
	float: right;
	width: 150px;
	height: 64px;
	text-align: center;
	color: #333;
	line-height: 64px;
	font-size: 18px;
	transition: all 0.5s;
}
header a:hover{
	color: #ff7b57;
}
footer{
	width: 100%;
	text-align: center;
	height: 60px;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	line-height: 60px;
}
.pad10{
	padding: 10px;
}
.pad5{
	padding: 5px;
}
.padL10{
	padding-left: 10px;
}
.padL20{
	padding-left: 20px;
}
.padL30{
	padding-left: 30px;
}

.masking{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	left: 0;top: 0;
	z-index: 99999;
}
.masking .reminder{
	width: 344px;height: 230px;
	background-color: #fff;
	font-size: 18px;
	color: #333;
	position: absolute;
	left: 50%;top: 50%;
	transform: translate(-50%,-50%);
	z-index: 6;
	text-align: center;
}
.masking .reminder h4{
	font-weight: normal;
	width: 100%;
	height: 125px;
	box-sizing: border-box;
    padding: 15px 15px 0;
	line-height: 100px;
}
.masking .reminder .btnsOk{
	width: 186px;
	height: 50px;
	border-radius: 25px;
	background-color: #ff7b57;
	color: #fff;
	line-height: 50px;
	margin: 0 auto;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s;
}
.masking .reminder .btnsOk:hover{
	width: 200px;
	box-shadow: inset 0 25px 25px 0 rgba(255,255,255,.2);
}

/*--禁止选中复制的类--*/
.userSelect{
	user-select: none;
	
}

/*--窗口正中间弹出文字提示的类<div class="hint" id="hint">一点都不会吗？</div>  --*/
.hint{
	height: 50px;
	border-radius: 6px;
	background-color: rgba(0,0,0,.3);
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	padding: 0 25px;
	position: absolute;
	left: 50%;top: 50%;
	transform: translate(-50% , -50%);
	z-index: 10;
	display: none;
}

/* 机器人*/
#robbot{
	position: fixed;
    left: 16px;
    bottom: 25%;
    z-index: 4;
    width:200px;
	height:223px;
	cursor: pointer;
}
#robbot>span{
	display: inline-block;
	width:200px;height:223px;
	background:url('../imgs/robbot.gif') no-repeat center;			
	float:left;
}
#dialog{
	float: left;
	border-radius: 13px;
	padding: 15px;
	width: 225px;
	height: 80px;
	background-color: rgba(0, 0, 0,.1);
	color: #26a5d8;
	position:absolute;
	top: 48px;
	left:-187px;
	padding-top:20px;
	opacity: 0;
}
#closeDialog{
	position:absolute;
	right:8px;top:5%;
	cursor: pointer;
}
#closeDialog:hover{
	color:#333;
}
#dialog>p{
	line-height:24px;
	font-weight:700;
	font-size:14px;
}

/* 分数鼓励动画*/
#gifImg{
	width:800px;
	height:800px;
	position: absolute;
	top:50%;left:50%;
	transform: translate(-50%,-50%);
	/*background:url(../imgs/14.gif) no-repeat center center;*/
	z-index:2;
}