body{
	background: url(../imgs/bacImg1.png);
}
header{
	width: 100%;
	height: 54px;
	background-color: #fff;
}
header .con{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
header .con .title{
	width: 250px;
	height: 100%;
	text-align: center;
	font-size: 18px;
	color: #333;
	margin: 0 auto;
	line-height: 54px;
}
header .con .versions{
	font-size: 14px;
	color: #333;
	line-height: 54px;
	height: 54px;
	width: 400px;
	position: absolute;
	left: 0;top: 0;
}
header .con .timeRemaining{
	font-size: 24px;
	color: #ff1919;
	line-height: 54px;
	height: 54px;
	width: 230px;
	position: absolute;
	right: 0;top: 0;
	text-align: right;
}

.section{
	width: 1100px;
	margin: 0 auto;
	padding-top: 42px;
	background-color: #fff;
	box-shadow: inset 0 20px 35px 0 rgba(0,0,0,.07);
	position: relative; 
}

.section>li h3{
	width: 1075px;height: 48px;
	background-color: #ff7b57;
	color: #fff;
	font-size: 18px;
	padding-left: 25px;
	line-height: 48px;
	font-weight: normal;
	overflow: hidden;
}
.section>li .con{
	width: 1100px;
	background: #fff;
	height: auto;
	padding-top: 42px;
	padding-bottom: 25px;
}
.section>li .con ul.tests{
	margin: 0 auto;
	width: 1058px;
	border: 1px solid #ccc;
	border-right: none;
	border-bottom: none;
	height: auto;
}
.section>li .con ul.tests>li{
	float: left;
	width: 528px;
	height: 208px;
	border: 1px solid #ccc;
	border-top: none;
	border-left: none;
	overflow: hidden;
	line-height: 42px;
	font-weight: bold;
	font-size: 20px;
	position: relative;
}
.section .tests>li h4{
	font-size: 20px;
	color: #333;
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	overflow: hidden;
}
.section .tests>li button{
	width: 86px;
	height: 26px;
	border-radius: 13px;
	background-color: #fff;
	border: 1px solid #666;
	color: #333;
	font-size: 16px;
	line-height: 26px;
	left: 15px;
	position: relative;
	cursor: pointer;
}
.section .tests>li button:hover{
	background-color: #eee;
}
.tests .item label{
	display: block;
	height: 42px;
	line-height: 42px;
	padding-left: 25px;
	font-size: 18px;
	color: #333;
	cursor: pointer;
	font-weight: normal;
	overflow: hidden;
}
.tests label input{
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 1px;
} 
.tests .item label:hover{
	background-color: #eee;
}
.tests label.checked{
	background-color: #eee;
}
.submitBox{
	width: 1100px;
	height: 118px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}
.submitBox .back{
	width: 112px;
	height: 48px;
	border: 1px solid #333;
	background: #fff;
	border-radius: 24px;
	text-align: center;
	line-height: 48px;
	position: absolute;
	right: 40px;
	top: 0;
	cursor: pointer;
}
.submitBox .back:hover{
	background: #eee;
}
.submitBox .submitTheAnswer{
	width: 164px;
	height: 48px;
	border: 1px solid #ff7b57;
	background-color: #ff7b57;
	border-radius: 25px;
	position: absolute;
	top: 0;right: 192px;
	text-align: center;
	line-height: 48px;
	color: #fff;
	cursor: pointer;
}
.submitBox .submitTheAnswer:hover{
	border: 1px solid #333;
	background-color: #eee;
	color: #333;
}


























