body{
	background-image: url(../imgs/bacImg1.png);
}
section{
	width: 1040px;height: 600px;
	margin: 160px auto 0;
	background: url(../imgs/bacImg2.png) no-repeat;
	padding-top: 37px;
}
.main{
	width: 940px;height: 500px;
	margin: 0 auto;
	position: relative;
}
.main .titleBox{
	text-align: center;
	position: relative;
	width: 100%;height: 54px;
	border-bottom: 1px solid transparent;
}
.titleBox .versions{
	width: 320px;
	height: 54px;
	position: absolute;
	font-size: 14px;
	line-height: 54px;
	left: 20px;top: 0;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.titleBox .title{
	display: inline-block;
	font-size: 18px;
	line-height: 54px;
	height: 54px;
	color: #333;
}
.titleBox .exit{
	width: 22px;
	height: 22px;
	background: url(../imgs/no.png) no-repeat center;
	position: absolute;
	right: 20px;
	top: 16px;
}
.word{
	width: 800px;height: 110px;
	line-height: 110px;
	margin: 0 auto;
	position: relative;
}
.word .difficulty{
	width: 25px;height: 52px;
	background: url(../imgs/difficulty3.png) no-repeat center;
	position: absolute;
	top: 29px;left: 0;
}
.word .thisWord{
	width: 550px;
	height: 110px;
	font-size: 36px;
	color: #333;
	position: absolute;
	left: 50%;
	top: 0;
	text-align: center;
	transform: translateX(-50%);
}
.word .thisWord sub{
	font-size: 16px;
	color: #666;
	position: relative;
	top: -8px;
}
.word .voice{
	width: 78px;
	height: 100px;
	line-height: 110px;
	font-size: 12px;
	color: #666;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.word .voice i{
	width: 33px;
	height: 30px;
	display: block;
	background: url(../imgs/soundY.png) no-repeat center;
	position: absolute;
	right: 0;top: 40px;
}
.schedule{
	width: 800px;
	height: 12px;
	margin: 0 auto;
	background-color: #eee;
}
.schedule .atPresent{
	width: 12%;
	height: 100%;
	background: #ff7b57;
}
.centent{
	width: 800px;height: 136px;
	margin: 0 auto;
	text-align: center;
}
.centent .countDown{
	line-height: 136px;
	font-size: 30px;
	color: #333;
}
.centent .countDown span{
	color: #ff1919;
}
.centent .answer{
	/*margin-top: 4px;*/
	height: 136px;
	padding-top: 4px;
	box-sizing: border-box;
}
.centent .answer h3{
	font-size: 26px;
	color: #333;
	line-height: 62px;
	font-weight: normal;
}
.centent .answer .illustrate{
	font-size: 16px;
	color: #333;
	line-height: 28px;
}
.btns{
	width: 466px;
	height: 50px;
	position: relative;
	left: 50%;
	top: 43px;
	transform: translateX(-50%);
	line-height: 50px;
}
.btns button{
	width: 182px;
	height: 50px;
	border-radius: 25px;
	background-color: #ff7b57;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	position: absolute;
	top: 0;
	cursor: pointer;
	outline: medium;
}
.btns button:hover{
	box-shadow: inset 0 0 15px 0px #fff;
}
.btns .yes{
	left: 0;
	background-color: #57b3ff;
}
.btns .yes i{
	width: 24px;
	height: 23px;
	display: inline-block;
	background: url(../imgs/whiteyes.png) no-repeat center;
	position: relative;
	top: 6px;
}
.btns .no{
	right: 0;
}
.btns .no i{
	width: 24px;
	height: 23px;
	display: inline-block;
	background: url('../imgs/whiteno(2).png') no-repeat center;;
	position: relative;
	top: 6px;
}
.btns .ent{
	width: 466px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	outline: medium;
}
.btns .ent div{
	margin: 0 auto;
	height: 50px;
	width: 250px;
	position: relative;
	font-size: 24px;
}
.btns .ent div.ent_h{
	background: url(../imgs/next.png) no-repeat center;
}
.btns .ent div sub{
	position: absolute;
	left: 55%;
	font-size: 12px;
	top: 3px;
}

.otherInformation{
	width: 100%;
	height: 53px;
	position: absolute;
	bottom: 0;left: 0;
	line-height: 54px;
	font-size: 16px;
	color: #333;
}
.otherInformation .studyTime{
	position: absolute;
	left: 20px;top: 0;
}
.otherInformation .thisStudy{
	position: absolute;
	right: 20px;top: 0;
}


















