body{
	background-image: url(../imgs/bacImg1.png);
}
section{
	width: 1040px;height: 600px;
	margin: 160px auto 0;
	background: url(../imgs/bacImg2.png) no-repeat;
	padding-top: 37px;
}
.main{
	width: 940px;height: 500px;
	margin: 0 auto;
	position: relative;
}
.main .titleBox{
	text-align: center;
	position: relative;
	width: 100%;height: 54px;
	border-bottom: 1px solid transparent;
}
.titleBox .versions{
	width: 320px;
	height: 54px;
	position: absolute;
	font-size: 14px;
	line-height: 54px;
	left: 20px;top: 0;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
.titleBox .title{
	display: inline-block;
	font-size: 18px;
	line-height: 54px;
	height: 54px;
	color: #333;
}
.titleBox .exit{
	width: 22px;
	height: 22px;
	background: url(../imgs/no.png) no-repeat center;
	position: absolute;
	right: 20px;
	top: 16px;
}
.word{
	width: 100%;height: 236px;
	text-align: center;
	padding-top: 22px;
	position: relative;
}
.word h3{
	font-size: 26px;
	color: #333;
	line-height: 70px;
	height: 70px;
	font-weight: normal;
}
.word .inputBox{
	width: 368px;height: 46px;
	background-color: #eee;
	margin: 0 auto;
	position: relative;
}
.word .inputBox input{
	background-color: transparent;
	line-height: 46px;
	height: 46px;
	display: inline-block;
	width: 100%;
	border: none;
	outline: medium;
	font-size: 24px;
	color: #666;
	text-align: center;
}
.word .voice{
	text-align: left;
	width: 96px;
	height: 46px;
	line-height: 46px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
	position: absolute;
	left: -96px;top: 0;
}
.word .voice i{
	width: 33px;
	height: 30px;
	display: block;
	background: url(../imgs/soundY.png) no-repeat center;
	position: absolute;
	right: 15px;top: 8px;
}
.word .status{
	width: 46px;height: 46px;
	background-image: url(../imgs/hintNo.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: -46px;top: 0;
}
.word .status.correct{
	background-image: url(../imgs/hintYes.png);
}
.word .hint{
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	color: #666;
	width: 100%;
}
.word .answer{
	font-size: 30px;
	color: #57b3ff;
	line-height: 44px;
	height: 44px;
}
/*-错误答案提示-*/
.word div.answer.correct{
	color: #ff1919;
}
.btns{
	width: 100%;height: 94px;
	position: relative;
}
.btns .enter{
	line-height: 50px;
	width: 466px;
	height: 50px;
	border-radius: 25px;
	background-color: #ff7b57;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0px;left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	font-size: 18px;
}
.btns .enter i{
	width: 27px;height: 22px;
	display: inline-block;
	background: url(../imgs/next.png) no-repeat center;
	position: relative;
	top: 6px;
}
.btns .enter:hover{
	box-shadow: inset 0 0 20px 0 #fff;
}

.otherInformation{
	width: 100%;
	height: 53px;
	position: absolute;
	bottom: 0;left: 0;
	line-height: 54px;
	font-size: 16px;
	color: #333;
}
.otherInformation .studyTime{
	position: absolute;
	left: 20px;top: 0;
}
.otherInformation .errorRate{
	position: absolute;
	left: 240px;top: 0;
}
.otherInformation .thisStudy{
	position: absolute;
	right: 20px;top: 0;
}















