body{
	background: url(../../imgs/bacImg1.png);
}
header{
	width: 100%;
	height: 54px;
	background-color: #fff;
	box-shadow: 0 25px 50px 0 rgba(0,0,0,.1);
	position:relative;
	letter-spacing: 1.5px;
}
header .top{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
header .title{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	color: #333;
	line-height: 54px;
	float:left;
	
}
header .countdown{
	position:absolute;
	right:0;
	top:0;
	line-height:54px;
	font-size:20px;
	color:red;
	font-weight:700;	
}
section{
	width: 1100px;
	margin: 0 auto;
	min-height: -webkit-calc(100% - 64px);
	box-sizing: border-box;
	margin-top: 10px;
	background-color: #fff;
	padding-bottom:40px;
}
section .content{
	width:100%;
	padding-top:8px;
	padding-bottom:10px;
}
section .content .item{
	width:480px;
	height:40px;
	float:left;	
	margin-left:50px;
	margin-top:50px;
	font-size:16px;
	line-height:40px;
}
section .content .item .num{
	color:#333;	
	line-height:32px;
	font-size:16px;
}
section .content .item .line{	
	width: 390px;
	height:40px;
    border: 1px solid #ccc;
	font-size:16px;
	text-align:left;
	line-height:40px;
	padding-left:10px;
	margin-left:9px;
	border-radius:4px;
	color:#333;
}


section .btn{
	width:300px;
	height:50px;
	margin-top:80px;
	margin-left:640px;
}
section .commit{
	width:166px;
	height:50px;
	background-color: #ff7a57;
	border-radius:25px;
	font-size:16px;
	letter-spacing:2px;
	color:#fff;
	text-align:center;
	line-height:50px;
	cursor: pointer;
	float:left;
	margin-right:18px;
	
}
section .quit{
	width:114px;
	height:50px;
	border:1px solid #333;
	letter-spacing:4px;
	border-radius:25px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	float:left;
}
section .commit:hover{
	box-shadow: inset 0 15px 25px 0 rgba(255,255,255,.3);
}
section .quit:hover{
	color:#ff7a57;
}

